{% extends "cover/layout.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="post">
                {% csrf_token %}

                {% bootstrap_form form %}

                <input type="submit" value="Generate O RLY" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-sm-6">
            {% if form.get_params %}
                <img src="{% url "cover:image_generator" %}?{{ form.get_params }}" />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

